/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    padding:0;
    margin:0;
    font-family:"Oswald", sans-seri;
}

body{
    background-color:rgb(78, 178, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 100px;
    height: 100px;
}

input{
    width: 500px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    padding-left: 8px;
    transition: all .3s linear;

}

input:hover{
    background-color: rgb(43, 41, 41);
    border-bottom: 2px solid white;
}
input:focus{
    background-color: rgb(43, 41, 41);
    border-bottom: 2px solid rgb(0, 157, 255);
}

button{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s linear;
}


@keyframes fade {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
    
}










.container{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.message__container{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.tasks__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

.task__container{
    background-color: rgb(60, 62, 166);
    width: fit-content;
    height: fit-content;

    border: 1px solid white;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons button{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .bi{
    height: 20px;
    width: 20px;
}

.validate-btn{
    background-color: rgb(42, 223, 42);
}

.update-btn{
    background-color: rgb(225, 154, 23);
}

.delete-btn{
    background-color: rgb(201, 26, 26);
}

.validate-btn:hover, .update-btn:hover, .delete-btn:hover{
    color: black;
}

.time__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.time:hover{
    background-color: black;
}